<section class="covers-section">
  <div class="container covers-container">
    <h2 class="covers-header visually-hidden">Project covers</h2>
    <div class="marquee">
      <ul class="covers-list">
        <li class="covers-list-item">
          <img
            srcset="
              /src/img/covers/img1.1x.png 1x,
              /src/img/covers/img1.2x.png 2x
            "
            src="/src/img/covers/img1.1x.png"
            alt="Cover 1"
            class="covers-slide"
          />
        </li>
        <li class="covers-list-item">
          <img
            srcset="
              /src/img/covers/img2.1x.png 1x,
              /src/img/covers/img2.2x.png 2x
            "
            src="/src/img/covers/img2.1x.png"
            alt="Cover 2"
            class="covers-slide"
          />
        </li>
        <li class="covers-list-item">
          <img
            srcset="
              /src/img/covers/img3.1x.png 1x,
              /src/img/covers/img3.2x.png 2x
            "
            src="/src/img/covers/img3.1x.png"
            alt="Cover 3"
            class="covers-slide"
          />
        </li>
      </ul>
      <ul class="covers-list">
        <li class="covers-list-item">
          <img
            srcset="
              /src/img/covers/img4.1x.png 1x,
              /src/img/covers/img4.2x.png 2x
            "
            src="/src/img/covers/img4.1x.png"
            alt="Cover 4"
            class="covers-slide"
          />
        </li>
        <li class="covers-list-item">
          <img
            srcset="
              /src/img/covers/img5.1x.png 1x,
              /src/img/covers/img5.2x.png 2x
            "
            src="/src/img/covers/img5.1x.png"
            alt="Cover 5"
            class="covers-slide"
          />
        </li>
        <li class="covers-list-item">
          <img
            srcset="
              /src/img/covers/img6.1x.png 1x,
              /src/img/covers/img6.2x.png 2x
            "
            src="/src/img/covers/img6.1x.png"
            alt="Cover 6"
            class="covers-slide"
          />
        </li>
      </ul>
      <ul class="covers-list">
        <li class="covers-list-item">
          <img
            srcset="
              /src/img/covers/img7.1x.png 1x,
              /src/img/covers/img7.2x.png 2x
            "
            src="/src/img/covers/img7.1x.png"
            alt="Cover 7"
            class="covers-slide"
          />
        </li>
        <li class="covers-list-item">
          <img
            srcset="
              /src/img/covers/img8.1x.png 1x,
              /src/img/covers/img8.2x.png 2x
            "
            src="/src/img/covers/img8.1x.png"
            alt="Cover 8"
            class="covers-slide"
          />
        </li>
        <li class="covers-list-item">
          <img
            srcset="
              /src/img/covers/img9.1x.png 1x,
              /src/img/covers/img9.2x.png 2x
            "
            src="/src/img/covers/img9.1x.png"
            alt="Cover 9"
            class="covers-slide"
          />
        </li>
        <li class="covers-list-item">
          <img
            srcset="
              /src/img/covers/img10.1x.png 1x,
              /src/img/covers/img10.2x.png 2x
            "
            src="/src/img/covers/img10.1x.png"
            alt="Cover 10"
            class="covers-slide"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
