<section class="hero-section">
  <div class="container">
    <h1 class="hero-title">
      Hello.<br />
      I'm Fullstack developer Lloyd Jefferson.
    </h1>
    <ul class="hero-icon-list">
      <li class="hero-icon-item">
        <a href="https://www.instagram.com/goitclub/" class="hero-icon-link"
          >IG</a
        >
      </li>
      <li class="hero-icon-item">
        <a href="https://www.facebook.com/goITclub/" class="hero-icon-link"
          >FB</a
        >
      </li>
      <li class="hero-icon-item">
        <a href="https://www.youtube.com/c/GoIT" class="hero-icon-link">YT</a>
      </li>
      <li class="hero-icon-item">
        <a
          href="https://github.com/nastiayurash/variable-vibes-js-project"
          class="hero-icon-link"
          >GH</a
        >
      </li>
      <li class="hero-icon-item">
        <address class="hero-email">
          <a href="mailto:lloydjefferson@gmail.com">
            lloydjefferson@gmail.com
          </a>
        </address>
      </li>
    </ul>
  </div>
</section>
