<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hero</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/3.0.1/modern-normalize.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <section class="hero-section">
      <div class="container">
        <h1 class="hero-title">
          Hello.<br />
          I'm Fullstack developer Lloyd Jefferson.
        </h1>
        <ul class="hero-icon-list">
          <li class="hero-icon-item">
            <a href="https://www.instagram.com/goitclub/" class="hero-icon-link"
              >IG</a
            >
          </li>
          <li class="hero-icon-item">
            <a href="https://www.facebook.com/goITclub/" class="hero-icon-link"
              >FB</a
            >
          </li>
          <li class="hero-icon-item">
            <a href="https://www.youtube.com/c/GoIT" class="hero-icon-link"
              >YT</a
            >
          </li>
          <li class="hero-icon-item">
            <a
              href="https://github.com/nastiayurash/variable-vibes-js-project"
              class="hero-icon-link"
              >GH</a
            >
          </li>
          <li class="hero-icon-item">
            <address class="hero-email">
              <a href="mailto:lloydjefferson@gmail.com">
                lloydjefferson@gmail.com
              </a>
            </address>
          </li>
        </ul>
      </div>
    </section>
  </body>
</html>
