<section class="reviews-section">
    <h2 class="reviews">Reviews</h2>
    <div class="swiper-container">
        <ul class="reviews-list swiper-wrapper"></ul>
        <nav class="swiper-navigation">
          <button class="prev-reviews-btn">
            <svg class="icon-arrow">
                <use href="./img/icons.svg#icon-arrow-narrow-left"></use>
              </svg>
          </button>
          <button class="next-reviews-btn">
            <svg class="icon-arrow">
                <use href="./img/icons.svg#icon-arrow-narrow-right"></use>
              </svg>
          </button>
        </nav>
    </div>
    <div class="error-message">
        <p>Not found</p>
    </div>
</section>
