<section class="reviews-section">
  <div class="container">
    <h2 class="reviews">Reviews</h2>
    <div class="swiper-container">
      <ul class="reviews-list swiper-wrapper"></ul>
      <nav class="swiper-navigation">
        <button class="prev-reviews-btn">
          <svg class="icon-arrow">
            <use href="./img/icons.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button class="next-reviews-btn">
          <svg class="icon-arrow">
            <use href="./img/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </nav>
    </div>
    <div class="error-message">
      <p>Not found</p>
    </div>
  </div>
</section>
