:root {
  --Animation_arrow: 700ms cubic-bezier(0.4, 0, 0.2, 1);
  --Animation_cubic: 300ms ease-in-out;
  --Button_background: #ff4b5c;
  --Opacity_20: rgba(0, 0, 0, 0.2);
  --Cards: #f9f9f9;
  --Arrow: #999;
  --Button_text: #fff;
  --Main_content_bg: #242527;
}
.about-me {
  padding-bottom: 64px;
}

@media only screen and (min-width: 768px) {
  .about-me {
    padding-bottom: 96px;
  }
}

.color-text-red {
  color: #ed3b44;
}
.color-text-gray {
  color: #7a7a7b;
}
.about-me {
  padding-top: 64px;
  padding-bottom: 64px;
}
@media only screen and (min-width: 768px) {
  .about-me {
    padding-top: 64px;
    padding-bottom: 96px;
  }
}

@media only screen and (min-width: 1440px) {
  .about-me {
    padding-top: 96px;
    padding-bottom: 164px;
  }
}

.describe-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media only screen and (min-width: 768px) {
  .describe-container {
    gap: 64px;
  }
}
@media only screen and (min-width: 1440px) {
  .describe-container {
    gap: 96px;
  }
}
.about-me-wrapper-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media only screen and (min-width: 1440px) {
  .about-me-wrapper-content {
    flex-direction: row;
  }
  .about-me-wrapper-content > div {
    width: calc((100% - 16px) / 2);
  }
}
.about-me-main-content,
.about-me-image-wrapper {
  background: var(--Main_content_bg);
  border-radius: 24px;
}
.about-me-main-content {
  height: 500px;
  padding: 32px;
}
@media only screen and (min-width: 768px) {
  .about-me-main-content {
    height: 700px;
    padding: 64px;
  }
}
.about-me-main-header {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .about-me-main-header {
    font-size: 38px;
  }
}
@media only screen and (min-width: 1440px) {
  .about-me-main-header {
    font-size: 38px;
  }
}
.about-me-paragraph {
  color: var(--Button_text);
  padding: 0;
}
@media only screen and (min-width: 768px) {
  .about-me-paragraph {
    font-size: 20px;
  }
}
.about-me-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-me-main-image {
  border-radius: 24px;
  object-fit: cover;
  width: 100%;
}
.about-me-header {
  display: flex;
  align-items: center;
}
.about-me-button,
.about-me-button-swipe {
  background-color: transparent;
  border: none;
  outline: none;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  flex-shrink: 0;
}
.about-me-button {
  width: 36px;
  height: 36px;
  border-radius: 100px;
  border: 1px solid rgba(250, 250, 250, 0.2);
}

.about-me-button.button-active {
  transform: rotate(180deg);
}
.about-me-button.button-active,
.about-me-button:hover {
  border-color: var(--Button_background);
  color: var(--Button_background);
}
.about-me-button-swipe {
  color: var(--Arrow);
  width: 28px;
  height: 28px;
  transition: color var(--Animation_arrow);
}
.about-me-button-swipe:hover,
.about-me-button-swipe:focus,
.about-me-button-swipe:active {
  color: var(--Button_text);
}
@media only screen and (min-width: 768px) {
  .about-me-button-swipe,
  .about-me-button {
    width: 40px;
    height: 40px;
  }
  .about-me-button-swipe .about-me-icon {
    width: 100%;
    height: 100%;
  }
  .about-me-button .about-me-icon {
    width: 20px;
    height: 20px;
  }
}
.about-me-icon {
  stroke: currentColor;
}
.about-me-list-item {
  padding-bottom: 32px;
  border-bottom: 1px solid #424346;
}
.about-me-list-item:not(:first-child) {
  padding-top: 10px;
}
@media only screen and (min-width: 768px) {
  .about-me-list-item:not(:first-child) {
    padding-bottom: 32px;
  }
}
.about-me-description ul,
.about-me-description {
  display: flex;
  flex-direction: column;
}
.about-me-description {
  gap: 32px;
}
.about-me-description ul {
  gap: 10px;
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .about-me-description {
    gap: 16px;
  }
}
@media only screen and (min-width: 1440px) {
  .about-me-description,
  .about-me-description ul,
  .item-description {
    align-items: flex-end;
    padding-right: 68px;
  }
  .about-me-paragraph,
  .about-me-description ul > li,
  .item-description li {
    width: 612px;
  }
}
.about-me-wrapper-swiper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about-me-list-skills.swiper-wrapper {
  display: flex;
  width: 100%;
}
.about-me-list-skills-item.swiper-slide {
  width: 130px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 1px solid rgba(250, 250, 250, 0.2);
  flex-shrink: 0;
}
.about-me-list-skills-item.swiper-slide-active {
  background-color: var(--Button_background);
}
@media only screen and (min-width: 768px) {
  .about-me-list-skills.swiper-wrapper {
    width: 100%;
  }
  .about-me-list-skills-item.swiper-slide {
    height: 200px;
  }
}
@media only screen and (min-width: 1440px) {
  .about-me-list-skills.swiper-wrapper {
    width: 100%;
  }
}
.about-me-list-skills-item {
  color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .about-me-list-skills-item {
    font-size: 16px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1439px) {
  .about-me-list-skills-item {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1440px) {
  .about-me-list-skills-item {
    font-size: 20px;
  }
}
.about-me-section-title {
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
  transition: color var(--Animation_arrow);
}
.about-me-section-title.active {
  color: var(--Button_background);
}
@media only screen and (min-width: 1440px) {
  .about-me-description p {
    font-size: 16px;
  }
  .about-me-list-item {
    gap: 32px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1439px) {
  .about-me-description p {
    margin-bottom: 10px;
    font-size: 16px;
  }
  .about-me-list-item {
    gap: 16px;
  }
}
@media only screen and (max-width: 767px) {
  .about-me-list-item {
    gap: 32px;
  }
}
.item-description {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  overflow: hidden;
}
#swiperLibrary {
  overflow: hidden;
}
.swiper-container {
  width: 260px;
}
.about-me-swiper-container {
  width: 260px;
}
@media only screen and (min-width: 768px) {
  .about-me-swiper-container {
    width: 600px;
  }
}
@media only screen and (min-width: 1440px) {
  .about-me-swiper-container {
    width: 1200px;
  }
}
/* Default icon (closed state) */
.about-me-list-item .about-me-icon use {
  transition: transform 0.3s ease;
}

.about-me-list-item.is-active .about-me-icon use {
  /* Change the icon when the accordion is open */
  transform: rotate(
    180deg
  ); /* This can rotate the icon if it's a triangle, for example */
}
