.covers-container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
}
.covers-section {
  position: relative;
  padding-bottom: 64px;
  margin: 0 auto;
}

.marquee {
  max-width: 100%;
  overflow: hidden;
  background-image: url(../img/covers/bg-img1x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.covers-list {
  display: flex;
  gap: 30px;
  transform: rotate(-16deg);
  margin-top: 30px;
}

.covers-list-item img {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 260px;
  height: 160px;
}
.animation {
  animation-name: slideLine;
  animation-duration: 9s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes slideLine {
  0% {
    transform: translateX(-50px);
  }
  50% {
    transform: translateX(-420px);
  }
  100% {
    transform: translateX(-50px);
  }
}

@media screen and (min-width: 768px) {
  .covers-container {
    max-width: 768px;
  }
  .covers-list-item img {
    max-width: 544px;
    height: 290px;
  }
  .covers-section {
    padding-bottom: 96px;
  }
}
@media screen and (min-width: 1440px) {
  .covers-container {
    max-width: 1440px;
  }
  .covers-section {
    padding-bottom: 164px;
  }
}
